<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6SSV2_8uY6cOoy6KQfD_JGZG9ZemD-Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>972752217378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servtol</string>
	<key>PROJECT_ID</key>
	<string>servtol-3405d</string>
	<key>STORAGE_BUCKET</key>
	<string>servtol-3405d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972752217378:ios:9819f9b3a73fec51b0b17b</string>
</dict>
</plist>